.footer
  .wrap
    h2.center#portfolio Наше портфолио
    .columns.slide-show
      img(
        alt="Фото из галлереи"
        src="img/gallery/min/img-min1.jpg"
        class="myphotos columns__img-gallery"
        rel="group1"
        data-glisse-big="img/gallery/big/img1.jpg"
      )
      img(
        alt="Фото из галлереи"
        src="img/gallery/min/img-min2.jpg"
        class="myphotos columns__img-gallery"
        rel="group1"
        data-glisse-big="img/gallery/big/img2.jpg"
      )
      img(
        alt="Фото из галлереи"
        src="img/gallery/min/img-min3.jpg"
        class="myphotos columns__img-gallery"
        rel="group1"
        data-glisse-big="img/gallery/big/img3.jpg"
      )
      img(
        alt="Фото из галлереи"
        src="img/gallery/min/img-min4.jpg"
        class="myphotos columns__img-gallery"
        rel="group1"
        data-glisse-big="img/gallery/big/img4.jpg"
      )
      img(
        alt="Фото из галлереи"
        src="img/gallery/min/img-min5.jpg"
        class="myphotos columns__img-gallery"
        rel="group1"
        data-glisse-big="img/gallery/big/img5.jpg"
      )
      img(
        alt="Фото из галлереи"
        src="img/gallery/min/img-min6.jpg"
        class="myphotos columns__img-gallery"
        rel="group1"
        data-glisse-big="img/gallery/big/img6.jpg"
      )
      img(
        alt="Фото из галлереи"
        src="img/gallery/min/img-min7.jpg"
        class="myphotos columns__img-gallery"
        rel="group1"
        data-glisse-big="img/gallery/big/img7.jpg"
      )
      img(
        alt="Фото из галлереи"
        src="img/gallery/min/img-min8.jpg"
        class="myphotos columns__img-gallery"
        rel="group1"
        data-glisse-big="img/gallery/big/img8.jpg"
      )
      img(
        alt="Фото из галлереи"
        src="img/gallery/min/img-min9.jpg"
        class="myphotos columns__img-gallery"
        rel="group1"
        data-glisse-big="img/gallery/big/img9.jpg"
      )
      img(
        alt="Фото из галлереи"
        src="img/gallery/min/img-min10.jpg"
        class="myphotos columns__img-gallery"
        rel="group1"
        data-glisse-big="img/gallery/big/img10.jpg"
      )
      img(
        alt="Фото из галлереи"
        src="img/gallery/min/img-min11.jpg"
        class="myphotos columns__img-gallery"
        rel="group1"
        data-glisse-big="img/gallery/big/img11.jpg"
      )
      img(
        alt="Фото из галлереи"
        src="img/gallery/min/img-min12.jpg"
        class="myphotos columns__img-gallery"
        rel="group1"
        data-glisse-big="img/gallery/big/img12.jpg"
      )
      img(
        alt="Фото из галлереи"
        src="img/gallery/min/img-min13.jpg"
        class="myphotos columns__img-gallery"
        rel="group1"
        data-glisse-big="img/gallery/big/img13.jpg"
      )
      img(
        alt="Фото из галлереи"
        src="img/gallery/min/img-min14.jpg"
        class="myphotos columns__img-gallery"
        rel="group1"
        data-glisse-big="img/gallery/big/img14.jpg"
      )
      img(
        alt="Фото из галлереи"
        src="img/gallery/min/img-min15.jpg"
        class="myphotos columns__img-gallery"
        rel="group1"
        data-glisse-big="img/gallery/big/img15.jpg"
      )
      img(
        alt="Фото из галлереи"
        src="img/gallery/min/img-min16.jpg"
        class="myphotos columns__img-gallery"
        rel="group1"
        data-glisse-big="img/gallery/big/img16.jpg"
      )
      img(
        alt="Фото из галлереи"
        src="img/gallery/min/img-min17.jpg"
        class="myphotos columns__img-gallery"
        rel="group1"
        data-glisse-big="img/gallery/big/img17.jpg"
      )
      img(
        alt="Фото из галлереи"
        src="img/gallery/min/img-min18.jpg"
        class="myphotos columns__img-gallery"
        rel="group1"
        data-glisse-big="img/gallery/big/img18.jpg"
      )
      img(
        alt="Фото из галлереи"
        src="img/gallery/min/img-min19.jpg"
        class="myphotos columns__img-gallery"
        rel="group1"
        data-glisse-big="img/gallery/big/img19.jpg"
      )
      img(
        alt="Фото из галлереи"
        src="img/gallery/min/img-min20.jpg"
        class="myphotos columns__img-gallery"
        rel="group1"
        data-glisse-big="img/gallery/big/img20.jpg"
      )
      img(
        alt="Фото из галлереи"
        src="img/gallery/min/img-min21.jpg"
        class="myphotos columns__img-gallery"
        rel="group1"
        data-glisse-big="img/gallery/big/img21.jpg"
      )
      img(
        alt="Фото из галлереи"
        src="img/gallery/min/img-min22.jpg"
        class="myphotos columns__img-gallery"
        rel="group1"
        data-glisse-big="img/gallery/big/img22.jpg"
      )
      img(
        alt="Фото из галлереи"
        src="img/gallery/min/img-min23.jpg"
        class="myphotos columns__img-gallery"
        rel="group1"
        data-glisse-big="img/gallery/big/img23.jpg"
      )
      img(
        alt="Фото из галлереи"
        src="img/gallery/min/img-min24.jpg"
        class="myphotos columns__img-gallery"
        rel="group1"
        data-glisse-big="img/gallery/big/img24.jpg"
      )
      img(
        alt="Фото из галлереи"
        src="img/gallery/min/img-min25.jpg"
        class="myphotos columns__img-gallery"
        rel="group1"
        data-glisse-big="img/gallery/big/img25.jpg"
      )
      img(
        alt="Фото из галлереи"
        src="img/gallery/min/img-min26.jpg"
        class="myphotos columns__img-gallery"
        rel="group1"
        data-glisse-big="img/gallery/big/img26.jpg"
      )
      img(
        alt="Фото из галлереи"
        src="img/gallery/min/img-min27.jpg"
        class="myphotos columns__img-gallery"
        rel="group1"
        data-glisse-big="img/gallery/big/img27.jpg"
      )
      img(
        alt="Фото из галлереи"
        src="img/gallery/min/img-min28.jpg"
        class="myphotos columns__img-gallery"
        rel="group1"
        data-glisse-big="img/gallery/big/img28.jpg"
      )
      img(
        alt="Фото из галлереи"
        src="img/gallery/min/img-min29.jpg"
        class="myphotos columns__img-gallery"
        rel="group1"
        data-glisse-big="img/gallery/big/img29.jpg"
      )
      img(
        alt="Фото из галлереи"
        src="img/gallery/min/img-min30.jpg"
        class="myphotos columns__img-gallery"
        rel="group1"
        data-glisse-big="img/gallery/big/img30.jpg"
      )alt="Фото из галлереи"
        src="img/gallery/min/img-min1.jpg"
        class="myphotos columns__img-gallery"
        rel="group1"
        data-glisse-big="img/gallery/big/img1.jpg"
      )
      img(
        alt="Фото из галлереи"
        src="img/gallery/min/img-min2.jpg"
        class="myphotos columns__img-gallery"
        rel="group1"
        data-glisse-big="img/gallery/big/img2.jpg"
      )
      img(
        alt="Фото из галлереи"
        src="img/gallery/min/img-min3.jpg"
        class="myphotos columns__img-gallery"
        rel="group1"
        data-glisse-big="img/gallery/big/img3.jpg"
      )
      img(
        alt="Фото из галлереи"
        src="img/gallery/min/img-min4.jpg"
        class="myphotos columns__img-gallery"
        rel="group1"
        data-glisse-big="img/gallery/big/img4.jpg"
      )
      img(
        alt="Фото из галлереи"
        src="img/gallery/min/img-min5.jpg"
        class="myphotos columns__img-gallery"
        rel="group1"
        data-glisse-big="img/gallery/big/img5.jpg"
      )
      img(
        alt="Фото из галлереи"
        src="img/gallery/min/img-min6.jpg"
        class="myphotos columns__img-gallery"
        rel="group1"
        data-glisse-big="img/gallery/big/img6.jpg"
      )
      img(
        alt="Фото из галлереи"
        src="img/gallery/min/img-min7.jpg"
        class="myphotos columns__img-gallery"
        rel="group1"
        data-glisse-big="img/gallery/big/img7.jpg"
      )
      img(
        alt="Фото из галлереи"
        src="img/gallery/min/img-min8.jpg"
        class="myphotos columns__img-gallery"
        rel="group1"
        data-glisse-big="img/gallery/big/img8.jpg"
      )
      img(
        alt="Фото из галлереи"
        src="img/gallery/min/img-min9.jpg"
        class="myphotos columns__img-gallery"
        rel="group1"
        data-glisse-big="img/gallery/big/img9.jpg"
      )
      img(
        alt="Фото из галлереи"
        src="img/gallery/min/img-min10.jpg"
        class="myphotos columns__img-gallery"
        rel="group1"
        data-glisse-big="img/gallery/big/img10.jpg"
      )
      img(
        alt="Фото из галлереи"
        src="img/gallery/min/img-min11.jpg"
        class="myphotos columns__img-gallery"
        rel="group1"
        data-glisse-big="img/gallery/big/img11.jpg"
      )
      img(
        alt="Фото из галлереи"
        src="img/gallery/min/img-min12.jpg"
        class="myphotos columns__img-gallery"
        rel="group1"
        data-glisse-big="img/gallery/big/img12.jpg"
      )
      img(
        alt="Фото из галлереи"
        src="img/gallery/min/img-min13.jpg"
        class="myphotos columns__img-gallery"
        rel="group1"
        data-glisse-big="img/gallery/big/img13.jpg"
      )
      img(
        alt="Фото из галлереи"
        src="img/gallery/min/img-min14.jpg"
        class="myphotos columns__img-gallery"
        rel="group1"
        data-glisse-big="img/gallery/big/img14.jpg"
      )
      img(
        alt="Фото из галлереи"
        src="img/gallery/min/img-min15.jpg"
        class="myphotos columns__img-gallery"
        rel="group1"
        data-glisse-big="img/gallery/big/img15.jpg"
      )
      img(
        alt="Фото из галлереи"
        src="img/gallery/min/img-min16.jpg"
        class="myphotos columns__img-gallery"
        rel="group1"
        data-glisse-big="img/gallery/big/img16.jpg"
      )
      img(
        alt="Фото из галлереи"
        src="img/gallery/min/img-min17.jpg"
        class="myphotos columns__img-gallery"
        rel="group1"
        data-glisse-big="img/gallery/big/img17.jpg"
      )
      img(
        alt="Фото из галлереи"
        src="img/gallery/min/img-min18.jpg"
        class="myphotos columns__img-gallery"
        rel="group1"
        data-glisse-big="img/gallery/big/img18.jpg"
      )
      img(
        alt="Фото из галлереи"
        src="img/gallery/min/img-min19.jpg"
        class="myphotos columns__img-gallery"
        rel="group1"
        data-glisse-big="img/gallery/big/img19.jpg"
      )
      img(
        alt="Фото из галлереи"
        src="img/gallery/min/img-min20.jpg"
        class="myphotos columns__img-gallery"
        rel="group1"
        data-glisse-big="img/gallery/big/img20.jpg"
      )
      img(
        alt="Фото из галлереи"
        src="img/gallery/min/img-min21.jpg"
        class="myphotos columns__img-gallery"
        rel="group1"
        data-glisse-big="img/gallery/big/img21.jpg"
      )
      img(
        alt="Фото из галлереи"
        src="img/gallery/min/img-min22.jpg"
        class="myphotos columns__img-gallery"
        rel="group1"
        data-glisse-big="img/gallery/big/img22.jpg"
      )
      img(
        alt="Фото из галлереи"
        src="img/gallery/min/img-min23.jpg"
        class="myphotos columns__img-gallery"
        rel="group1"
        data-glisse-big="img/gallery/big/img23.jpg"
      )
      img(
        alt="Фото из галлереи"
        src="img/gallery/min/img-min24.jpg"
        class="myphotos columns__img-gallery"
        rel="group1"
        data-glisse-big="img/gallery/big/img24.jpg"
      )
      img(
        alt="Фото из галлереи"
        src="img/gallery/min/img-min25.jpg"
        class="myphotos columns__img-gallery"
        rel="group1"
        data-glisse-big="img/gallery/big/img25.jpg"
      )
      img(
        alt="Фото из галлереи"
        src="img/gallery/min/img-min26.jpg"
        class="myphotos columns__img-gallery"
        rel="group1"
        data-glisse-big="img/gallery/big/img26.jpg"
      )
      img(
        alt="Фото из галлереи"
        src="img/gallery/min/img-min27.jpg"
        class="myphotos columns__img-gallery"
        rel="group1"
        data-glisse-big="img/gallery/big/img27.jpg"
      )
      img(
        alt="Фото из галлереи"
        src="img/gallery/min/img-min28.jpg"
        class="myphotos columns__img-gallery"
        rel="group1"
        data-glisse-big="img/gallery/big/img28.jpg"
      )
      img(
        alt="Фото из галлереи"
        src="img/gallery/min/img-min29.jpg"
        class="myphotos columns__img-gallery"
        rel="group1"
        data-glisse-big="img/gallery/big/img29.jpg"
      )
      img(
        alt="Фото из галлереи"
        src="img/gallery/min/img-min30.jpg"
        class="myphotos columns__img-gallery"
        rel="group1"
        data-glisse-big="img/gallery/big/img30.jpg"
      )
    h3.center#comments Отзывы
    .comments
      div(
        class="fb-comments"
        data-href="https://djkaraoke.ru/"
        data-width="100%"
        data-numposts="5"
      )
    .contacts
      .center Контакты
      ul
        li.contacts__item E-mail: <a class="white-link" href="mailto:e.alexandrov177@yandex.ru">e.alexandrov177@yandex.ru</a>
        li.contacts__item Адрес: ул. Нижняя Красносельская, д. 45/17
    .copyright
      p.center.copyright__text djkaraoke.ru © Все права защищены<br />2009 - 2021





<footer class="footer">
      <div class="wrap">
        <h2 id="portfolio" class="center">Наше портфолио</h2>
        <div class="columns slide-show">
          img(
            alt="Фото из галлереи"
            src="img/gallery/min/img-min1.jpg"
            class="myphotos columns__img-gallery"
            rel="group1"
            data-glisse-big="img/gallery/big/img1.jpg"
          )
          <img
            alt="Фото из галлереи"
            src="img/gallery/min/img-min2.jpg"
            class="myphotos columns__img-gallery"
            rel="group1"
            data-glisse-big="img/gallery/big/img2.jpg"
          />
          <img
            alt="Фото из галлереи"
            src="img/gallery/min/img-min3.jpg"
            class="myphotos columns__img-gallery"
            rel="group1"
            data-glisse-big="img/gallery/big/img3.jpg"
          />
          <img
            alt="Фото из галлереи"
            src="img/gallery/min/img-min4.jpg"
            class="myphotos columns__img-gallery"
            rel="group1"
            data-glisse-big="img/gallery/big/img4.jpg"
          />
          <img
            alt="Фото из галлереи"
            src="img/gallery/min/img-min5.jpg"
            class="myphotos columns__img-gallery"
            rel="group1"
            data-glisse-big="img/gallery/big/img5.jpg"
          />
          <img
            alt="Фото из галлереи"
            src="img/gallery/min/img-min6.jpg"
            class="myphotos columns__img-gallery"
            rel="group1"
            data-glisse-big="img/gallery/big/img6.jpg"
          />
          <img
            alt="Фото из галлереи"
            src="img/gallery/min/img-min7.jpg"
            class="myphotos columns__img-gallery"
            rel="group1"
            data-glisse-big="img/gallery/big/img7.jpg"
          />
          <img
            alt="Фото из галлереи"
            src="img/gallery/min/img-min8.jpg"
            class="myphotos columns__img-gallery"
            rel="group1"
            data-glisse-big="img/gallery/big/img8.jpg"
          />
          <img
            alt="Фото из галлереи"
            src="img/gallery/min/img-min9.jpg"
            class="myphotos columns__img-gallery"
            rel="group1"
            data-glisse-big="img/gallery/big/img9.jpg"
          />
          <img
            alt="Фото из галлереи"
            src="img/gallery/min/img-min10.jpg"
            class="myphotos columns__img-gallery"
            rel="group1"
            data-glisse-big="img/gallery/big/img10.jpg"
          />
          <img
            alt="Фото из галлереи"
            src="img/gallery/min/img-min11.jpg"
            class="myphotos columns__img-gallery"
            rel="group1"
            data-glisse-big="img/gallery/big/img11.jpg"
          />
          <img
            alt="Фото из галлереи"
            src="img/gallery/min/img-min12.jpg"
            class="myphotos columns__img-gallery"
            rel="group1"
            data-glisse-big="img/gallery/big/img12.jpg"
          />
          <img
            alt="Фото из галлереи"
            src="img/gallery/min/img-min13.jpg"
            class="myphotos columns__img-gallery"
            rel="group1"
            data-glisse-big="img/gallery/big/img13.jpg"
          />
          <img
            alt="Фото из галлереи"
            src="img/gallery/min/img-min14.jpg"
            class="myphotos columns__img-gallery"
            rel="group1"
            data-glisse-big="img/gallery/big/img14.jpg"
          />
          <img
            alt="Фото из галлереи"
            src="img/gallery/min/img-min15.jpg"
            class="myphotos columns__img-gallery"
            rel="group1"
            data-glisse-big="img/gallery/big/img15.jpg"
          />
          <img
            alt="Фото из галлереи"
            src="img/gallery/min/img-min16.jpg"
            class="myphotos columns__img-gallery"
            rel="group1"
            data-glisse-big="img/gallery/big/img16.jpg"
          />
          <img
            alt="Фото из галлереи"
            src="img/gallery/min/img-min17.jpg"
            class="myphotos columns__img-gallery"
            rel="group1"
            data-glisse-big="img/gallery/big/img17.jpg"
          />
          <img
            alt="Фото из галлереи"
            src="img/gallery/min/img-min18.jpg"
            class="myphotos columns__img-gallery"
            rel="group1"
            data-glisse-big="img/gallery/big/img18.jpg"
          />
          <img
            alt="Фото из галлереи"
            src="img/gallery/min/img-min19.jpg"
            class="myphotos columns__img-gallery"
            rel="group1"
            data-glisse-big="img/gallery/big/img19.jpg"
          />
          <img
            alt="Фото из галлереи"
            src="img/gallery/min/img-min20.jpg"
            class="myphotos columns__img-gallery"
            rel="group1"
            data-glisse-big="img/gallery/big/img20.jpg"
          />
          <img
            alt="Фото из галлереи"
            src="img/gallery/min/img-min21.jpg"
            class="myphotos columns__img-gallery"
            rel="group1"
            data-glisse-big="img/gallery/big/img21.jpg"
          />
          <img
            alt="Фото из галлереи"
            src="img/gallery/min/img-min22.jpg"
            class="myphotos columns__img-gallery"
            rel="group1"
            data-glisse-big="img/gallery/big/img22.jpg"
          />
          <img
            alt="Фото из галлереи"
            src="img/gallery/min/img-min23.jpg"
            class="myphotos columns__img-gallery"
            rel="group1"
            data-glisse-big="img/gallery/big/img23.jpg"
          />
          <img
            alt="Фото из галлереи"
            src="img/gallery/min/img-min24.jpg"
            class="myphotos columns__img-gallery"
            rel="group1"
            data-glisse-big="img/gallery/big/img24.jpg"
          />
          <img
            alt="Фото из галлереи"
            src="img/gallery/min/img-min25.jpg"
            class="myphotos columns__img-gallery"
            rel="group1"
            data-glisse-big="img/gallery/big/img25.jpg"
          />
          <img
            alt="Фото из галлереи"
            src="img/gallery/min/img-min26.jpg"
            class="myphotos columns__img-gallery"
            rel="group1"
            data-glisse-big="img/gallery/big/img26.jpg"
          />
          <img
            alt="Фото из галлереи"
            src="img/gallery/min/img-min27.jpg"
            class="myphotos columns__img-gallery"
            rel="group1"
            data-glisse-big="img/gallery/big/img27.jpg"
          />
          <img
            alt="Фото из галлереи"
            src="img/gallery/min/img-min28.jpg"
            class="myphotos columns__img-gallery"
            rel="group1"
            data-glisse-big="img/gallery/big/img28.jpg"
          />
          <img
            alt="Фото из галлереи"
            src="img/gallery/min/img-min29.jpg"
            class="myphotos columns__img-gallery"
            rel="group1"
            data-glisse-big="img/gallery/big/img29.jpg"
          />
          <img
            alt="Фото из галлереи"
            src="img/gallery/min/img-min30.jpg"
            class="myphotos columns__img-gallery"
            rel="group1"
            data-glisse-big="img/gallery/big/img30.jpg"
          />
        </div>
        <h3 class="center" id="comments">Отзывы</h3>
        <div class="comments">
          <div
            class="fb-comments"
            data-href="https://djkaraoke.ru/"
            data-width="100%"
            data-numposts="5"
          ></div>
        </div>
        <div class="contacts">
          <h3 class="center">Контакты</h3>
          <ul>
            <li class="contacts__item">
              E-mail:
              <a class="white-link" href="mailto:e.alexandrov177@yandex.ru"
                >e.alexandrov177@yandex.ru</a
              >
            </li>
            <li class="contacts__item">
              Адрес: ул. Нижняя Красносельская, д. 45/17
            </li>
          </ul>
        </div>
        <div class="copyright">
          <p class="center copyright__text">
            djkaraoke.ru © Все права защищены<br />2009 - 2021
          </p>
        </div>
      </div>
    </footer>